In [1]:
#Import Dependencies
import numpy as np
import pandas as pd

In [3]:
#Read the csv file into a pandas DataFrame
percent_stats_df = pd.read_csv('percent_stats.csv')
percent_stats_df.head()

   Unnamed: 0    Year  TRB%  AST%  STL%  BLK%  TOV%  USG%    3P%    2P%    FT%
0           0  1982.0  13.4  11.9   1.1   4.1  13.3  25.6  0.000  0.580  0.706
1           1  1982.0  13.6  22.1   2.3   1.9  14.8  22.8  0.000  0.494  0.781
2           2  1982.0   9.7  18.6   1.2   0.9  12.7  29.8  0.352  0.475  0.680
3           3  1982.0   5.5  19.7   3.1   0.3  17.5  21.5  0.294  0.363  0.862
4           4  1982.0   2.9  31.9   1.1   0.1  18.4  17.9  0.375  0.475  0.747

In [4]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

NameError: name 'X' is not defined